# Configuration file for task_schedule.pl to run ARC jobs

subject      FSS_CHECK tasks      # subject of email
timeout      30000          # Default tool timeout
heartbeat_timeout 30000     # Maximum age of heartbeat file (seconds)
print_error  1              # Print out all errors to email message
iterations   1

# Data files and directories.  The *_dir vars can have $ENV{} vars which
# get interpolated.  (Note lack of task name after TST_DATA because this is just for test).

data_dir     $ENV{SKA_DATA}/fss_check       # Data file directory
log_dir      $ENV{SKA_DATA}/fss_check/logs  # Log file directory
bin_dir      $ENV{SKA_SHARE}/fss_check            # Bin dir (optional, see task def'n)
master_log   fss_check_master.log                  # Composite master log (created in log_dir)

# Email addresses that receive an alert if there was a severe error in
# running jobs (i.e. couldn't start jobs or couldn't open log file).
# Processing errors *within* the jobs are caught with watch_cron_logs

alert       aldcroft@head.cfa.harvard.edu

# Define task parameters
#  cron: Job repetition specification ala crontab
#  exec: Name of executable.  Can have $ENV{} vars which get interpolated.
#        If bin_dir is defined then bin_dir is prepended to non-absolute exec names.
#  log: Name of log.  Can have $ENV{} vars which get interpolated.
#        If log is set to '' then no log file will be created
#        If log is not defined it is set to <task_name>.log.
#        If log_dir is defined then log_dir is prepended to non-absolute log names.
#  timeout: Maximum time (seconds) for job before timing out

# This has multiple jobs which get run in specified order

<task fss_check>
      cron * * * * *
      check_cron * * * * *
      exec daily_fss.py --out $ENV{SKA_DATA}/fss_check --start=-90
      exec daily_fss.py --out $ENV{SKA_DATA}/fss_check --start=-360
      exec /bin/cp -p $ENV{SKA_DATA}/fss_check/fss_prim/* /data/mta4/www/ASPECT/fss_check/fss_prim/
      exec /bin/cp -p $ENV{SKA_DATA}/fss_check/fss_sec/* /data/mta4/www/ASPECT/fss_check/fss_sec/
      exec /bin/cp -p $ENV{SKA_DATA}/fss_check/fss_prim_hist/* /data/mta4/www/ASPECT/fss_check/fss_prim_hist/
      context 1
      <check>
        <error>
          #    File           Expression
          #  ----------      ---------------------------
	     fss_check.log     failed
        </error>
      </check>
</task>

# Remove disable_alerts file if there to enable alerts.  If there
# is a recurring error in task processing them an email will go out
# once a day.

<task enable_alerts>
	cron * * * * *
	exec /bin/rm -f $ENV{SKA_DATA}/fss_check/task_sched_disable_alerts
	context 1
</task>
