# Configuration file for task_schedule.pl to run ARC jobs

subject      fss_check3 tasks      # subject of email
timeout      1000          # Default tool timeout
heartbeat_timeout 10000     # Maximum age of heartbeat file (seconds)
print_error  1              # Print out all errors to email message
iterations   1

# Data files and directories.  The *_dir vars can have $ENV{} vars which
# get interpolated.  (Note lack of task name after TST_DATA because this is just for test).

data_dir     $ENV{SKA}/data/fss_check3/dev       # Data file directory
log_dir      $ENV{SKA}/data/fss_check3/dev/logs  # Log file directory
master_log   fss_check3_master.log                  # Composite master log (created in log_dir)

# Email addresses that receive an alert if there was a severe error in
# running jobs (i.e. couldn't start jobs or couldn't open log file).
# Processing errors *within* the jobs are caught with watch_cron_logs

alert       aca@cfa.harvard.edu

# Define task parameters
#  cron: Job repetition specification ala crontab
#  exec: Name of executable.  Can have $ENV{} vars which get interpolated.
#        If bin_dir is defined then bin_dir is prepended to non-absolute exec names.
#  log: Name of log.  Can have $ENV{} vars which get interpolated.
#        If log is set to '' then no log file will be created
#        If log is not defined it is set to <task_name>.log.
#        If log_dir is defined then log_dir is prepended to non-absolute log names.
#  timeout: Maximum time (seconds) for job before timing out

# This has multiple jobs which get run in specified order

<task fss_check3>
      cron * * * * *
      check_cron * * * * *
      exec fss_check_daily_fss --out $ENV{SKA}/data/fss_check3/dev --email=aca_alert@cfa.harvard.edu
      exec /bin/cp -p $ENV{SKA}/data/fss_check3/dev/index.html /data/mta4/www/ASPECT/fss_check3/dev/
      exec /bin/cp -p $ENV{SKA}/data/fss_check3/dev/*.png /data/mta4/www/ASPECT/fss_check3/dev/
      context 1
      <check>
        <error>
          #    File           Expression
          #  ----------      ---------------------------
	     fss_check3.log     failed
	     fss_check3.log     error
        </error>
      </check>
</task>
